$red: #d00f0f;
$green: #10c310;
$green2: lightgreen;


body {
  background: $red;
  color: $green2;
  width: 50%;
  margin: auto;

  a{
    color: $green;
  }
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-style: italic;
    font-weight: bolder;
    font-size: 2rem;
  }
}