{% extends 'base.html.twig' %}

{% block title %}Les posts{% endblock %}

{% block body %}

    {% for post in posts  %}
        <h1><a href="{{ path('showPost', {'id': post.id }) }}">{{ post.title }}</a></h1>
        <p>{{ post.content }}</p>

        <span>{{ post.author }}</span>
        <hr>
    {% endfor %}


{% endblock %}